<h1>Admin Page</h1>

<div class="row">
    <div class="col-6">

        <br />
        <br />
        <br />
        @using Microsoft.AspNetCore.Identity
        @inject SignInManager<User> signInManager
        Welcome to the admin section @User.Identity.Name!

        <br />
        <br />
        <br />

        <a asp-action="Orders">
            <input type="button" class="btn btn-primary" value="Order Management" />
        </a>

        <a asp-action="Index" asp-controller="Home" asp-area="">
            <input type="button" class="btn btn-primary" value="Exit admin area" />
        </a>

    </div>

    <div class="col-6">
        <img src="/images/lumber_stack.jpg" class="img-fluid">
    </div>
</div>