@model OrderViewModel

@{
    ViewData["Title"] = "Tim's Lumber - My Orders";
}

<div class="row">
    <div class="col-9">
        <H2>Your orders</H2>
            <table class="table table-bordered table-striped mt-2">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Total</th>
                        <th>Edit / Delete</th>
                    </tr>
                </thead>
                @foreach (Order o in Model.Orders)
                {


                    <tbody>
                        <tr>
                            <td>@o.OrderId</td>
                            <td>@o.Total.ToString("C2")</td>
                            <td>
                                <div style="float: left;padding-left: 10px;">
                                    <form asp-action="EditPage" method="post">
                                        <input type="hidden" asp-for="OrderID" value="@o.OrderId" />
                                        <button type="submit">Edit</button>
                                    </form>
                                </div>
                                <div style="float: left;padding-left: 30px;">
                                    <form asp-action="Delete" method="post">
                                        <input type="hidden" asp-for="OrderID" value="@o.OrderId" />
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>

                }
            </table>
    </div>
</div>